*{
    margin: 0;
    padding: 0;
}
.menu {
    box-shadow: 0 1px 6px -2px #a4a2a2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
}
img {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.input {
    width: 250px;
    height: 40px ;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin-left: 5px;
    background: rgba(1,0,8,0.1);
    box-shadow:0 1px 6px -2px #a4a2a2;
    border: rgba(1, 0, 8, 0.07);
    padding-left: 20px;
}

.mid {
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-mid {
    padding: 20px;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.img-mid:hover {
    background: rgba(1, 0, 8, 0.07);
    border-radius: 5px;
}

.img-mid > img {
    width: 30px;
    height: 30px;
}

.right {
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-right > img {
    width: 30px;
    height: 30px;
}

.img-right {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(1, 0, 8, 0.07);
}
.img-right:hover {
    background:rgba(1, 0, 8, 0.15) ;
}




